// Charter

// Regular
@font-face {
  font-family: 'Charter';
  src: url('http://explosivebolts.labibrahman.com/assets/typefaces/charter/charter_regular-webfont.eot');
  src: url('http://explosivebolts.labibrahman.com/assets/typefaces/charter/charter_regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('http://explosivebolts.labibrahman.com/assets/typefaces/charter/charter_regular-webfont.woff') format('woff');
  font: {
    weight: 400;
    style: normal;
  }

}

// Bold
@font-face {
  font-family: 'Charter';
  src: url('http://explosivebolts.labibrahman.com/assets/typefaces/charter/charter_bold-webfont.eot');
  src: url('http://explosivebolts.labibrahman.com/assets/typefaces/charter/charter_bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('http://explosivebolts.labibrahman.com/assets/typefaces/charter/charter_bold-webfont.woff') format('woff');
  font: {
    weight: 700;
    style: normal;
  }
}

// Italic
@font-face {
  font-family: 'Charter';
  src: url('http://explosivebolts.labibrahman.com/assets/typefaces/charter/charter_italic-webfont.eot');
  src: url('http://explosivebolts.labibrahman.com/assets/typefaces/charter/charter_italic-webfont.eot?#iefix') format('embedded-opentype'),
  url('http://explosivebolts.labibrahman.com/assets/typefaces/charter/charter_italic-webfont.woff') format('woff');
  font: {
    weight: 400;
    style: italic;
  }
}

// Fira

// Light
@font-face{
  font-family: 'Fira';
  src: url('http://explosivebolts.labibrahman.com/assets/typefaces/Fira/FiraSans-Light.eot');
  src: url('http://explosivebolts.labibrahman.com/assets/typefaces/Fira/FiraSans-Light.eot?#iefix') format('embedded-opentype'),
  url('http://explosivebolts.labibrahman.com/assets/typefaces/Fira/FiraSans-Light.woff') format('woff');
  font: {
    weight: 300;
    style: normal;
  }
}

// Light Italic
@font-face{
  font-family: 'Fira';
  src: url('http://explosivebolts.labibrahman.com/assets/typefaces/Fira/FiraSans-LightItalic.eot');
  src: url('http://explosivebolts.labibrahman.com/assets/typefaces/Fira/FiraSans-LightItalic.eot?#iefix') format('embedded-opentype'),
  url('http://explosivebolts.labibrahman.com/assets/typefaces/Fira/FiraSans-LightItalic.woff') format('woff');
  font: {
    weight: 300;
    style: Italic;
  }
}

// Regular
@font-face{
  font-family: 'Fira';
  src: url('http://explosivebolts.labibrahman.com/assets/typefaces/Fira/FiraSans-Regular.eot');
  src: url('http://explosivebolts.labibrahman.com/assets/typefaces/Fira/FiraSans-Regular.eot?#iefix') format('embedded-opentype'),
  url('http://explosivebolts.labibrahman.com/assets/typefaces/Fira/FiraSans-Regular.woff') format('woff');
  font: {
    weight: 400;
    style: normal;
  }
}

// Regular Italic
@font-face{
  font-family: 'Fira';
  src: url('http://explosivebolts.labibrahman.com/assets/typefaces/Fira/FiraSans-RegularItalic.eot');
  src: url('http://explosivebolts.labibrahman.com/assets/typefaces/Fira/FiraSans-RegularItalic.eot?#iefix') format('embedded-opentype'),
  url('http://explosivebolts.labibrahman.com/assets/typefaces/Fira/FiraSans-RegularItalic.woff') format('woff');
  font: {
    weight: 400;
    style: italic;
  }
}

// Medium
@font-face{
  font-family: 'Fira';
  src: url('http://explosivebolts.labibrahman.com/assets/typefaces/Fira/FiraSans-Medium.eot');
  src: url('http://explosivebolts.labibrahman.com/assets/typefaces/Fira/FiraSans-Medium.eot?#iefix') format('embedded-opentype'),
  url('http://explosivebolts.labibrahman.com/assets/typefaces/Fira/FiraSans-Medium.woff') format('woff');
  font: {
    weight: 500;
    style: normal;
  }
}

// Medium Italic
@font-face{
  font-family: 'Fira';
  src: url('http://explosivebolts.labibrahman.com/assets/typefaces/Fira/FiraSans-MediumItalic.eot');
  src: url('http://explosivebolts.labibrahman.com/assets/typefaces/Fira/FiraSans-MediumItalic.eot?#iefix') format('embedded-opentype'),
  url('http://explosivebolts.labibrahman.com/assets/typefaces/Fira/FiraSans-MediumItalic.woff') format('woff');
  font: {
    weight: 500;
    style: italic;
  }
}

// Bold

@font-face{
  font-family: 'Fira';
  src: url('http://explosivebolts.labibrahman.com/assets/typefaces/Fira/FiraSans-Bold.eot');
  src: url('http://explosivebolts.labibrahman.com/assets/typefaces/Fira/FiraSans-Bold.eot?#iefix') format('embedded-opentype'),
  url('http://explosivebolts.labibrahman.com/assets/typefaces/Fira/FiraSans-Bold.woff') format('woff');
  font: {
    weight: 700;
    style: normal;
  }
}

@font-face{
  font-family: 'Fira';
  src: url('http://explosivebolts.labibrahman.com/assets/typefaces/Fira/FiraSans-BoldItalic.eot');
  src: url('http://explosivebolts.labibrahman.com/assets/typefaces/Fira/FiraSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
  url('http://explosivebolts.labibrahman.com/assets/typefaces/Fira/FiraSans-BoldItalic.woff') format('woff');
  font: {
    weight: 700;
    style: italic;
  }
}