$legacy-support-for-ie6:     true;
$legacy-support-for-ie7:     true;
$legacy-support-for-mozilla: true;

// Imports: Base, Fonts, Reset, Sticky Footer
@import "partials/base";
@import "partials/fonts";
@import "compass/reset";

// Grids
$grids: 4;
$grids: add-grid(6 at 30em);
$grids: add-grid(9 at 45em);
$grids: add-grid(12 at 60em);



// Colors
$bg: #fefefe;
$text: #414141;
$link: #0056ab;
$link-bg: #e0efff;

$section-one: #d9d9d9;
$section-two: #cccccc;
$section-three: #f3f3f3;

$twitter: #4099FF;
$facebook: #3B5998;
$facebook-bg: #bbc8e4;
$github: #042029;
$bolts: #c20200;
$bolts-bg: #ffdede;
$vfa: #F02938;

// Transitions

@import "compass/css3/transition";
p, h1, h2, h3, h4, h5, img {
    @include transition(all 200ms linear);
}

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
    min-height: 100%;
    max-width: 60em;
    margin-bottom: -2em;
}

h1 {
    font: {
        family: "Fira";
        weight: 700;
        size: 1.5em;
    }
    color: $text;

    @include breakpoint (30em) {
        font-size: 1.6em;
        line-height: 1.2em;
    }

    @include breakpoint (45em) {
        font-size: 1.8em;
    }
    @include breakpoint (60em) {
        font-size: 1.9em;
        line-height: 1.4em;
    }
}

h3{
    font: {
        family: "Fira";
    }
    @include breakpoint (60em) {
        font-size: 1.6em;
        color: $text;
    }
}

p {
    font: {
        family: "Fira";
        weight: 400;
        size: 1.15em;
    }
    color: $text;
    line-height: 1.35em;

    @include breakpoint(30em) {
        font-size: 1.3em;
    }

    @include breakpoint(45em) {
        font-size: 1.35em;
    }
    @include breakpoint(60em) {
        font-size: 1.35em;
    }
}

a {
    font-weight: 400;
    text-decoration: none;
    color: $link;
    &:hover {
        background-color: $link-bg;
    }
}

.headline{
    padding-top: 2em;

    @include breakpoint(60em) {
        padding-top: 3em;
    }
}

.name {
    display: block;
    text-align: center;

    @include breakpoint(45em) {
        display: inline;
    }

    @include breakpoint(60em) {
        display: inline;
    }
}


.extra {
    display: block;
    text-align: center;
    padding-top: 0.6em;
    font: {
        weight: 300;
        size: 0.8em;
    }

    @include breakpoint(30em) {
        font-size: 0.8em;
    }

    @include breakpoint(45em) {
        display: inline;
        padding-left: 0.3em;
    }

    @include breakpoint(60em) {
        display: inline;
        padding-left: 0.4em;
        padding-top: 0em;
        font-size: 1em;
    }
}


.main {
    padding: {
        top: 0em;
        left: 1.2em;
        right: 1em;
    }

    @include breakpoint(30em){
        @include grid-span(4,2);
        padding: {
            top: 1em;
            left: 0em;
            right: 0em;
        }
    }

    @include breakpoint(45em) {
        @include grid-span(7,2);
    }

    @include breakpoint(60em) {
        @include grid-span(9, 2.5);
        padding: {
            top: 1em;
            left: 0.8em;
        }
    }
}

.me {
    margin-top: 1.5em;
    @include breakpoint(60em) {
        margin-top: 2em;
    }
}

.blog-intro, .project, .email, .social, .vfa-announcement {
    padding-top: 1em;
    @include breakpoint(60em) {
        padding: {
            top: 1.25em;
        }
    }
}

.vfa {
    color: $vfa;
    &:hover {
        background-color: $bolts-bg;
    }
}
.bolts {
    color: $bolts;
    &:hover{
        background-color: $bolts-bg;
    }
}
.twitter {
    color: $twitter;
}

.facebook {
    color: $facebook;
    &:hover{
        background-color: $facebook-bg;
    }
}

.github {
    color: $github;
    &:hover{
        background-color: $section-three;
    }
}
